<form id="createForm">
  <div class="input-group">
    <span class="input-group-addon">
      <input type="checkbox" name="{{todo.done}}" aria-label="checkbox" disabled>
    </span>
    <input type="text" class="form-control" name="{{todo.content}}" aria-label="checkbox">
    <span class="input-group-btn">
      <button class="btn btn-default btn-custom" type="submit">Create</button>
    </span>
  </div>
</form>
