<section>
  <p>
    A to-do list is known as a list of things that are important for you to do.
  </p>
  <p>
    This is an application for users to create, update, read and delete their to-do list items on their browser.
  </p>
</section>
<section>
  <h4 class="text-uppercase text-mono text-strong">How to Use</h4>
  <p>
    When a user creates a to-do, their to-do list will only be visible to them. After a user signs out of their account, they can view their saved to-do list by signing in again.
  </p>
  <article class="learn-article">
    <span class="text-strong btn btn-sm btn-default btn-custom">Sign Up</span> <br>
    <p>
      If you are a new user, you can create a free account by signing up with your chosen email and password.
    </p>
  </article>
  <article class="learn-article">
    <span class="text-strong btn btn-sm btn-default btn-custom">Sign In</span> <br>
    <p>
      Sign in with your account’s email and password to continue.
    </p>
  </article>
  <article class="learn-article">
    <span class="text-strong btn btn-sm btn-default btn-custom">Password</span> <br>
    <p>
      Change your password by clicking on the <em>Change Password</em> button.
    </p>
    <p>
      Type your current and new password and save your changes.
    </p>
  </article>
  <article class="learn-article">
    <span class="text-strong btn btn-sm btn-default btn-custom">Sign Out</span> <br>
    <p>
      Sign out by clicking on the <em>Sign Out</em> button.
    </p>
  </article>
  <article class="learn-article">
    <span class="text-mono text-strong btn btn-sm btn-default btn-custom create">
      Create a To-Do
    </span> <br>
    <p>
      Add something to your to-do list by clicking on the <em>Create</em> button.
    </p>
    <p>
      When you’ve successfully created a to-do, it will show up on your to-do list.
    </p>
  </article>
  <article class="learn-article">
    <input type="checkbox" disabled>
    <input type="checkbox" checked disabled>
    <h5 class="text-uppercase text-mono text-strong">Update</h5>
    <p>
      Update your to-do by clicking on it, then type your changes and save them.
    </p>
    <p>
      Mark a to-do list item as <em>done</em> by clicking on its checkbox. You can undo this action by clicking on the checkbox again and leaving it unchecked.
    </p>
  </article>
  <article class="learn-article">
    <span class="close btn btn-link btn-custom delete"><span aria-hidden="true">&times;</span></span> <br>
    <h5 class="text-uppercase text-mono text-strong">Delete</h5>
    <p>
      Delete your to-do list items by clicking on the <em>Delete</em> button shown above.
    </p>
  </article>
</section>
