<form class="form" id="signIn">
  <div class="form-group">
    <label for="inputEmail2" class="text-uppercase text-mono control-label">Email</label>
    <input type="email" class="form-control" id="inputEmail2" name="credentials[email]" placeholder="Enter your email address" required>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="text-uppercase text-mono control-label">Password</label>
    <input type="password" class="form-control" id="inputPassword3" name="credentials[password]" placeholder="Enter your password" required>
  </div>
  <div class="form-group">
    <button type="submit" class="text-lowercase text-mono text-strong btn btn-default">Sign In</button>
  </div>
</form>
