<form class="form" id="signUp">
  <div class="form-group">
    <label for="inputEmail1" class="text-uppercase text-mono control-label">Email</label>
    <input type="email" class="form-control" id="inputEmail1" name="credentials[email]" placeholder="Enter your email address" required>
  </div>
  <div class="form-group">
    <label for="inputPassword1" class="text-uppercase text-mono control-label">Password</label>
    <input type="password" class="form-control" id="inputPassword1" name="credentials[password]" placeholder="Enter your password" required>
  </div>
  <div class="form-group">
    <label for="inputPassword2" class="text-uppercase text-mono control-label">Password Confirmation</label>
    <input type="password" class="form-control" id="inputPassword2" name="credentials[password_confirmation]" placeholder="Confirm your password" required>
  </div>
  <div class="form-group">
    <button type="submit" class="text-lowercase text-mono text-strong btn btn-default">Sign Up</button>
  </div>
</form>
