<ul class="list-unstyled to-do-list">
  {{#each todos as |todo|}}
  <li class="to-do-list-item" data-id={{todo.id}}>
    <form id="listItemForm">
       <div class="input-group">
         <span class="input-group-addon">
           <input type="checkbox" name="{{todo.done}}" aria-label="checkbox">
         </span>
        <label name="{{todo.content}}" class="form-control">{{todo.content}}</label>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default btn-custom" data-toggle="collapse" data-target="#editFormCollapse" aria-expanded="false" aria-controls="editFormCollapse" id="editButton">Edit</button>
          <button type="button" class="btn btn-default btn-custom" id="deleteButton">Delete</button>
        </span>
      </div>
    </form>
  </li>
  {{/each}}
</ul>
