<ul class="list-unstyled to-do-list" id="todoList">
  {{#each todos as |todo|}}
  <li class="to-do">
    <div class="checkbox">
      <button type="button" data-toggle="modal" data-target="#todoModal" class="btn btn-link btn-custom see-more" aria-label="See More">
        <span>
          <i class="far fa-edit" aria-hidden="true" data-id={{todo.id}}></i>
        </span>
      </button>
      <label name="{{todo.content}}">
        <input type="checkbox" name="{{todo.done}}" aria-label="checkbox"> {{todo.content}}
      </label>
    </div>
  </li>
  {{/each}}
</ul>
