.btn-custom {
  background-color: transparent;
  border-radius: 0;
  outline: none;

  &,
  &:focus,
  &:hover {
    color: $black;
    text-decoration: none;
  }

  &.bbt {
    border: 0;
    border-bottom: 1px solid;
    padding: 0;
    padding-bottom: 1px;

    &:focus,
    &:hover {
      border-bottom: 1px solid;
    }
  }

  &.create {
    background-color: $yellow;
  }

  &.see-more {
    color: inherit;
  }
}

.btn-default {
  @extend .flat;

  border: $border-default;

  &:active,
  &:focus,
  &:hover {
    background-color: $washed-yellow;
    border: $border-default;
    color: $near-black;
  }
}

.btn-group {
  &-lg,
  &-sm,
  &-xs {
    .btn {
      @extend .flat;
    }
  }
}

.btn-main {
  padding: 0;
}

.learn-article {
  .btn,
  input[type='checkbox'] {
    margin-bottom: 15px;

    &,
    &:active,
    &:focus,
    &:hover {
      cursor: default;
      -ms-touch-action: none;
      touch-action: none;
    }
  }

  .btn {
    &:active,
    &:focus,
    &:hover {
      background-color: transparent;
    }

    &.create {
      &:active,
      &:focus,
      &:hover {
        background-color: $yellow;
      }
    }
  }

  .close {
    float: none;
    padding: 6px;
  }
}

.navbar-collapse {
  .btn-custom {
    background-color: $white;
  }
}

.footer {
  .btn-custom {
    &:active,
    &:focus,
    &:hover {
      background-color: $white;
    }
  }
}

@media (max-width: $screen-sm-max) {
  .btn-main {
    margin: 12px 15px 0;
  }
}

.dropdown-menu {
  margin-top: 5px;
}
