.btn-custom {
  background-color: transparent;
  border-radius: 0;
  outline: none;

  &,
  &:focus,
  &:hover {
    color: $black;
    text-decoration: none;
  }

  &.bbt {
    border: 0;
    border-bottom: 1px solid $black;
    padding: 0;
    padding-bottom: 1px;

    &:focus,
    &:hover {
      border-bottom: 1px solid $dark-gray;
    }
  }
}

.btn-default {
  @extend .flat;

  border: 1px solid $black;

  &:active,
  &:focus,
  &:hover {
    background-color: transparent;
    border: 1px solid $dark-gray;
    color: $dark-gray;
  }
}

.btn-main {
  padding: 0;
}

@media (max-width: $screen-sm-max) {
  .btn-main {
    margin: 12px 15px 0;
  }
}

.dropdown-menu {
  margin-top: 5px;
}
