.footer {
  bottom: 0;
  height: 60px;
  left: 0;
  position: absolute;
  width: 100%;
}

@media (min-width: $screen-sm-max) {
  .footer {
    &-container {
      padding-left: $medium-padding;
      padding-right: $medium-padding;
    }

    &-text {
      margin: 0;
      padding: $medium-padding 0;
    }
  }
}
