.dropdown-menu {
  li {
    &:not(.divider) {
      padding: $medium-padding;
    }
  }
}

.navbar-container {
  padding-top: $medium-padding;
}

@media (max-width: $screen-xs-max) {
  .dropdown-menu-right {
    left: 0;
    right: 0;
  }

  .navbar-right {
    margin-left: -15px;
    margin-right: -15px;
  }
}

@media (min-width: $screen-sm-max) {
  .page-navbar {
    padding-left: $medium-padding;
    padding-right: $medium-padding;
  }
}
