.dropdown-menu {
  li {
    &:not(.divider) {
      padding: $medium-padding;
    }
  }
}

.navbar {
  &-container {
    padding-top: $medium-padding;
  }

  &-toggle {
    .icon-bar {
      background-color: $black;
      border-radius: 0;
    }
  }
}

@media (max-width: $screen-xs-max) {
  .list-unstyled {
    li {
      margin-bottom: 10px;
    }
  }

  .navbar {
    &-collapse {
      background-color: $near-white;
      padding: $medium-padding;
    }
  }

  .page-navbar {
    .navbar-right {
      margin-right: 0;
    }
  }
}

@media (min-width: $screen-sm-max) {
  .page-navbar {
    padding-right: $medium-padding;
  }
}
