.learn {
  &-article {
    background-color: $washed-yellow;
    border: $border-default;
    margin: 20px 0;
    padding: 15px;
  }

  .modal-body {
    padding: 2em 3em;
  }
}

.section-padding {
  padding: 0 2em;
}

@media (min-width: $screen-md-max) {
  .section-padding {
    padding: 0 4em;
  }
}
