$main-padding: 30px;
$medium-padding: 15px;

html {
  min-height: 100%;
  position: relative;
}

body {
  background-color: $near-white;
  margin-bottom: 60px;
}

a {
  &,
  &:active,
  &:hover {
    color: $black;
  }
}

.box {
  background-color: $white;
  border: 1px solid $gray;
  padding: 2.5em 6em;
}

@media (max-width: $screen-md-max) {
  .box {
    padding: 2.5em 3em;
  }
}

@media (max-width: $screen-xs-max) {
  .box {
    padding: 2em;
  }
}

.error {
  color: $red;
}

.flat {
  -webkit-box-shadow: none;
  border-radius: 0;
  box-shadow: none;
}

.form {
  &-control {
    @extend .flat;
  }
}

.password-notifications {
  margin-top: $medium-padding;
}

textarea {
  resize: none;
}
