$border-default: 1px solid $near-black;

$main-padding: 30px;
$medium-padding: 15px;

html {
  min-height: 100%;
  position: relative;
}

body {
  background-color: $washed-yellow;
  margin-bottom: 50px;
}

a {
  &,
  &:active,
  &:hover {
    color: $black;
  }
}

.box {
  background-color: $white;
  border: 1px solid $near-black;
  margin: $medium-padding 0;
  padding: 2em;
}

.learn {
  &-article {
    border-bottom: $border-default;
    margin: 20px 0;
    padding: 15px 0;
  }

  .modal-body {
    padding: 2em 3em;
  }
}

.message {
  border: 1px dashed;
  color: $near-black;
  margin: $medium-padding 0;
  padding: 8px 4em;

  &.error {
    color: $red;
  }
}

.flat {
  -webkit-box-shadow: none;
  border-radius: 0;
  box-shadow: none;
}

.form-control,
.modal-content {
  @extend .flat;
}

.form {
  &.update-done {
    border-right: 1px solid;
    display: inline-block;
    padding: 10px 15px;
  }
}

.modal {
  background: rgba(255, 255, 255, 0.5);

  &-header {
    border-color: $black;
  }
}

.password-notifications {
  margin-top: $medium-padding;
}

.to-do-list {
  background-color: $washed-yellow;
  border: 1px solid;
  color: $mid-gray;
  margin-bottom: 0;
  margin-top: $medium-padding * 2;

  .checkbox,
  .form-group {
    margin: 0;
  }

  .to-do {
    border-bottom: 1px solid;
  }
}

textarea {
  resize: none;
}
