body {
  color: $black;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.btn-custom {
  &:not(.btn-main) {
    @extend .text-mono;
  }

  &:not(.see-more) {
    text-transform: lowercase;
  }

  &.see-more {
    font-size: 12px;
  }
}

.btn-main {
  font-size: 1.5em;
  font-weight: 700;
}

.control-label,
.footer-text {
  font-size: small;
}

.footer-text {
  .btn-custom {
    font-size: inherit;
  }
}

.message,
.error {
  @extend .text-mono;

  font-size: small;
  text-align: center;
}

.h3 {
  margin-top: 0;
}

.learn {
  font-size: 85%;
}

.learn-article {
  .close {
    font-size: 18px;
  }
}

.to-do {
  .close {
    line-height: inherit;
  }
}

.text-mono {
  font-family: 'Roboto Mono', monospace;

  &.text-strong {
    font-weight: 700;
  }
}

.text-sans {
  font-family: 'Roboto', sans-serif;

  &.text-strong {
    font-weight: 900;
  }
}
