body {
  color: $black;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.btn-custom {
  text-transform: lowercase;

  &:not(.btn-main) {
    @extend .text-mono;
  }
}

.btn-main {
  font-size: 1.5em;
  font-weight: 700;
}

.control-label,
.footer-text {
  font-size: small;
}

.footer-text {
  .btn-custom {
    font-size: inherit;
  }
}

.message,
.error {
  @extend .text-mono;

  font-size: small;
  text-align: center;
}

.h3 {
  margin-top: 0;
}

.text-mono {
  font-family: 'Roboto Mono', monospace;

  &.text-strong {
    font-weight: 700;
  }
}

.text-sans {
  font-family: 'Roboto', sans-serif;

  &.text-strong {
    font-weight: 900;
  }
}
