body {
  color: $black;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.btn-main {
  font-size: 1.5em;
  font-weight: 700;
}

.control-label,
.footer-text {
  font-size: small;
}

.message,
.error {
  @extend .text-mono;

  font-size: small;
  text-align: center;
}

.text-mono {
  font-family: 'Roboto Mono', monospace;

  &.text-strong {
    font-weight: 700;
  }
}

.text-sans {
  font-family: 'Roboto', sans-serif;

  &.text-strong {
    font-weight: 900;
  }
}
